<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <h1>GYMNIX</h1>
   <h3> Thanks for your post, the administrator will approve your post shortly </h3>
        <h3> Click here return homepage:
            <a href="{% url 'Home'%}" class="btn btn-primary">Home</a></h3>
</div>
        </div>
</body>
</html>